mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the toolbar is above other content */
}

.left {
  display: flex;
  align-items: center;
}
