/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
      ),
      density: (
        scale: 0,
      ),
      typography: Roboto,
    ),
    $overrides: ("background": #212121)
  );
}

:root {
  @include mat.button-overrides(
    (
      filled-container-color: orange,
      filled-label-text-color: white,
      protected-container-color: #007fff,
      protected-label-text-color: white,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
